  body {
    background-color: rgb(229, 167, 252);
  }

  .rodape{
    border-top: 1px solid #333;
    padding-top: 2px;
    bottom: 0;
    height: 40px;
    position: fixed;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  nav {
    background-color: #f2f2f2;
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
  }

  nav ul li a:hover {
    background-color: rgb(126, 243, 204);
    color: rgb(188, 30, 246);
    border-radius: 10px;
  }

  main {
    padding: 20px;
  }

.grupo {
    width: 200px;
    opacity: 0.9;
}

.bateria {
    width: 100px;
}